<link rel="stylesheet" href="/css/jobEdit.css">
</head>

<body class="">

<form action="/job/{{job.id}}?_method=PUT" method="POST">

<label>Title</label>
<input type="text" name="Title" id="" placeholder="{{job.Title}}">

<label>Company</label>
<input type="text" name="Company" id="" placeholder="{{job.Company}}">

<label>Location</label>
<input type="text" name="Location" id="" placeholder="{{job.Location}}">

<label>Stack</label>
<input type="text" name="Stack" id="" placeholder="{{job.Stack}}">

{{!-- <input type="text" name="Offices" id=""> --}}

<label>Minimium Experience</label>
<input type="text" name="ExpMin" id="" placeholder="{{job.MinExp}}">

<label>Max Experience</label>
<input type="text" name="ExpMax" id="" placeholder="{{job.MaxExp}}">

<label>Remote Opt? (Yes/No)</label>
<input type="text" name="RemoteOpt" id="" placeholder="{{job.RemoteOpt}}">

<label>Notes</label>
<input type="text" name="Notes" id="" placeholder="{{job.Notes}}">


<button type="submit">Add Job</button>

</form>